/* src/components/ProfileList.css */
.add-profile-button, .edit-profile-button {
    display: inline-block;
    margin-bottom: 20px; /* Margin below Add Profile button */
    padding: 10px 15px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underline from Link */
    font-size: 16px;
}

.add-profile-button:hover, .edit-profile-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Style for the delete button */
.delete-button {
    padding: 10px 15px;
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Space between Edit and Delete button */
}

.delete-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

/* Keep the rest of your CSS as is */
